<%= form_with model: @thing, class: "col s12" do |form| %>
  <% if @thing.errors.any? %>
  <div class="card red darken-2">
    <ul class="card-content white-text">
      <% @thing.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field :description%>
      <%= form.label :description, "Descrição" %>
    </div>

    <div class="input-field col s12">
      <%= form.submit value: "Salvar", class: "waves-effect waves-light btn"%>
      <%= link_to "Voltar", things_path, class: "waves-effect waves-light btn"%>
    </div>
  </div>
<%end%>

